* + * {
	margin-top: 10px;
}

* {
	color: lightslategrey;
	font-family: Verdana;
	transition: all 1.5s ease-in-out;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.advance_link {
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	font-size: 8pt;
	opacity: 0.75;
	padding-top: 10px;
	color: crimson;
}

.advance_link:hover {
	opacity: 0.25;
}

.page_body {
	display: flex;
	margin: -10px 15%;
	overflow: hidden;
}

.directory_header {
	margin-left: -15%;
}

.contained_containers {
	width: 50%;
}

.container_container {
	padding: 0 20px 20px 20px;
	border-radius: 2px;
	border: 1px solid lightgrey;
	box-shadow: 0 1px 0 rgba(00, 00, 00, 0.5);
}

.load_user_settings_container {
	padding-top: 40px;
	background: #f5f5f5;
}

.user_input {
	width: -webkit-fill-available;
	padding: 10px;
	border-radius: 2px;
	border: 1px solid lightgrey;
}

.settings_buttons_container {
	margin: 0;
	text-align: center;
	padding: 0 10px;
}

.load_settings {
	
}

.save_settings {
	
}

.settings_button, .start_timer {
	padding: 10px;
	width: 45%;
	min-width: 120px;
	border-radius: 2px;
	border: 1px solid lightgrey;
}

.settings_message {
	font-size: 8pt;
	text-align: left;
	margin: 0;
}

.main_content_container {
	background: #f5f5f5;
}

.settings_container {
	display: grid;
}

.current_user {
	text-align: center;
	background: white;
	padding: 10px;
	border-radius: 2px;
	color: slategray;
	font-size: 10pt;
	font-weight: bold;
	margin: 20px;
	box-shadow: 0 2px 3px rgba(00, 00, 00, 0.25);
}

.theme_options {
	display: inline-flex;
	list-style-type: none;
	padding: 0;
	margin: 10px 0 0 0;
}

.theme_options li {
	padding: 5px;
	margin-top: 10px;
}

.theme_option {
	border: none;
	border-radius: 2px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.theme_option_light {
	background: white;
}

.theme_option_warm {
	background: beige;
}

.theme_option_dark {
	background: darkgray;
}

.timer_container {
	text-align: center;
	width: 50%;
	margin: 10px;
	height: 20%;
	padding: 40px 40px 10px 40px;
}

.time_select {
	background: white;
	border: 1px solid lightgray;
	height: 35px;
	border-radius: 2px;
}

.time_left {
	font-size: 24pt;
	color: slategray;
}

.start_timer {
	background: #f5f5f5;
}

.start_timer:hover {
	background: white;
}

.button {
	transition: all 0.1s ease-in-out;
	box-shadow: 0 2px 3px rgba(00, 00, 00, 0.25);
}

.button:hover {
	box-shadow: 0 2px 3px rgba(00, 00, 00, 0.25);
}

.button:active {
	box-shadow: 0 0 0 rgba(00, 00, 00, 0);
}